body{
    color: white;
    font-family:Georgia, Times, 'Times New Roman', serif;
}
#box1{ 
    background-color: rgba(161, 0, 0, 0.900);
    text-align: center;
    padding: 30px 0px 30px;
    margin-bottom: 40px;
}
.sub-box1{
    text-decoration: underline;
    text-shadow: 0px 3px 2px rgb(15, 15, 120);
    word-spacing: 10px;
    font-size:25px;  
}
.sub-box2{
    text-decoration: underline;
    text-shadow: 0px 3px 2px rgb(8, 25, 177);
    word-spacing: 5px;
    font-size: 15px; 
}
.box2{
    background-color:  rgba(161, 0, 0, 0.900);
    text-decoration: underline;
    text-shadow: 0px 3px 2px rgb(39, 39, 223);
    font-weight:bold;
    text-align: center;
    line-height: 30px;
}
.box3{
    background-color:  rgba(161, 0, 0, 0.900);
    text-decoration: underline;
    font-weight: bold;
    text-shadow: 0px 3px 2px rgb(39, 39, 223);
    text-align: center;
    word-spacing: 5px;
    line-height: 30px;
    margin-bottom: 20px;
}
 .box4{
    background-color: navy;
    color: rgb(52, 206, 52);
    line-height: 70px;
    font-size: small;
 }
 .box5{
    background-color: #FEFE33;
    color: darkblue;
    line-height: 70px;
    font-size: 15px;
    font-weight: bold;  
 }

